@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background: #050505;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

::-webkit-scrollbar {
    background: #050505;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    width: 8px;
}

.content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    transition: opacity 1s;
    overflow-y: scroll;
}

.hide {
    opacity: 0
}

.middleContainer {
    position: relative;
    margin: auto;
    max-width: 980px;
    height: 100%;
}

.welcomeTitle {
    padding-left: 20px;
}

.welcomeTitle a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.16em 0.3em;
    margin: -0.2em 0px -0.2em 5px;
    line-height: 1.7;
    white-space: nowrap;
}

.online {
    color: #93fd98;
    background-color: rgba(65, 246, 59, 0.2);
}

.offline {
    color: #5b5b5b;
    background-color: rgba(56, 56, 56, 0.2);
}

.do-not-disturb {
    color: #fd9393;
    background-color: rgba(246, 59, 59, 0.2);
}

.idle {
    color: #fdd393;
    background-color: rgba(246, 181, 59, 0.2);
}

.welcomeTitle h1 {
    color: white;
    padding-top: 40px;
    margin: 0;
    font-size: 80px;
    font-weight: 700;
}

.welcomeTitle p {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 1.7;
}

.aboutMe {
    padding-left: 20px;
}

.aboutMe p {
    color: #e5e5e5;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
}

.links a {
    font-family: 'Inter', sans-serif;
    color: #dd93fd;
    background-color: rgba(177, 59, 246, 0.2);
    transition: color 0.1s, background-color 0.1s;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.16em 0.3em;
    margin: -0.2em 0;
    line-height: 1.7;
    white-space: nowrap;
}

.links a:hover {
    cursor: pointer;
    color: #dd93fd;
    background-color: rgba(177, 59, 246, 0.4);
}

.socialLinks a:hover {
    cursor: pointer;
    color: #dd93fd;
    background-color: rgba(177, 59, 246, 0.4);
}

.languageLinks a:hover {
    cursor: pointer;
    color: #dd93fd;
    background-color: rgba(177, 59, 246, 0.4);
}

ul {
    margin: 0;
    padding: 0;
}

.socials {
    padding-left: 20px;
}

.socials h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 30px;
}

.spotify {
    padding-left: 20px;
}

.metadata {
    color: white;
    padding-left: 20px;
    padding-right: 100px;
}

.metadataContainer {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.metadata p {
    margin: 0;
    vertical-align: middle;
}

.spotifyTitle {
    font-weight: 800;
    font-size: 24px;
}

.spotifyArtist {
    font-size: 18px;
    font-weight: 500;
}

.spotifyAlbum {
    font-size: 16px;
    font-weight: 300;
}

.spotify h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

.cover img {
    width: 150px;
    border-radius: 8px;
}

.spotifyContent {
    background: transparent;
    display: flex;
    width: fit-content;
    border-radius: 16px;
    text-decoration: none;
}

.socialLinks a {
    font-family: 'Inter', sans-serif;
    color: #dd93fd;
    background-color: rgba(177, 59, 246, 0.2);
    transition: color 0.1s, background-color 0.1s;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.16em 0.3em;
    margin: -0.2em 0;
    line-height: 1.7;
}

.languages {
    padding-left: 20px;
    padding-bottom: 100px;
}

.languages h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 30px;
}

.languageLinks a {
    font-family: 'Inter', sans-serif;
    color: #dd93fd;
    background-color: rgba(177, 59, 246, 0.2);
    transition: color 0.1s, background-color 0.1s;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.16em 0.3em;
    margin: -0.2em 0;
    line-height: 1.7;
}

.hidden {
    display: none;
}
