@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    background: #0e0e0e;
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

@media (prefers-color-scheme: light) {
    .background {
        background: #F1F1F1;
        width: 100%;
        height: 100vh;
        filter: blur(16px);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    }

    .middle_container h1, .middle_container h2 {
        color: black;
    }

    path {
        fill: black;
    }
}

@media (prefers-color-scheme: dark) {
    .background {
        background: #0E0E0E;
        width: 100%;
        height: 100vh;
        filter: blur(16px);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    }

    .middle_container h1, .middle_container h2 {
        color: white;
    }

    path {
        fill: white;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
}

.middle_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.middle_container h1 {
    font-weight: 300;
    user-select: none;
    -webkit-user-drag: none;
    margin: 0;
    padding: 0 0 5px;
}

.middle_container h2 {
    font-weight: 300;
    font-size: 20px;
    user-select: none;
    -webkit-user-drag: none;
    margin: 0;
    padding: 0;
}

.icon {
    width: 40px;
    height: 40px;
}

a {
    color: transparent;
    background: transparent;
}

svg {
    opacity: 100% !important;
}
